---
layout: default
title: Lista de Ocorrencias - Contém1g
csscustom:
- assets/plugins/datatables/dataTables.bootstrap4.min.css
- assets/plugins/datatables/buttons.bootstrap4.min.css
- assets/plugins/datatables/responsive.bootstrap4.min.css
jscustom:
- assets/plugins/datatables/jquery.dataTables.min.js
- assets/plugins/datatables/dataTables.bootstrap4.min.js
- assets/plugins/datatables/dataTables.buttons.min.js
- assets/plugins/datatables/buttons.bootstrap4.min.js
- assets/plugins/datatables/jszip.min.js
- assets/plugins/datatables/pdfmake.min.js
- assets/plugins/datatables/vfs_fonts.js
- assets/plugins/datatables/buttons.html5.min.js
- assets/plugins/datatables/buttons.print.min.js
- assets/plugins/datatables/buttons.colVis.min.js
- assets/plugins/datatables/dataTables.responsive.min.js
- assets/plugins/datatables/responsive.bootstrap4.min.js
- assets/js/jstablecustom.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Gestão</a></li>
    <li class="breadcrumb-item">Aniversariantes do mês</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Existem 3 aniversariantes esse mês</h4>
  </div>
</div>

<div class="card-box">
  <div class="row">
    <div class="col">
  
      <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data de Aniversário</th>
            <th>ID</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>00000</td>
            <td>11/11/2017</td>
            <td><a href="#">000000</a></td>
            <td>11 99999-9999</td>
            <td>email@email.com</td>
            <td>
              <a href="#" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-eye" aria-hidden="true"></i></a> 
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
    <!-- end col table -->
  </div>
  <!-- end row table -->
</div>