---
layout: default
title: Cadastrar Categoria - Contém1g
csscustom:
- assets/plugins/x-editable/css/bootstrap-editable.css
jscustom:
- assets/plugins/moment/moment.js
- assets/plugins/x-editable/js/bootstrap-editable.min.js
- assets/pages/jquery.xeditable.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Produtos</a></li>
    <li class="breadcrumb-item active">Cadastrar Categoria</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Criando Categoria</h4>
  </div>
</div>

<div class="card-box">
  <form action="" class="form-create-category">

    <div class="form-group row">
      <label for="example-text-input1" class="col-sm-2 col-form-label">Categoria Ativa?</label>
      <div class="col-sm-10">
        <select name="" id="" class="form-control">
          <option value="">Sim</option>
          <option value="">Não</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="example-text-input2" class="col-sm-2 col-form-label">Categoria em Destaque?</label>
      <div class="col-sm-10">
        <select name="" id="" class="form-control">
          <option value="">Sim</option>
          <option value="">Não</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="example-text-input3" class="col-sm-2 col-form-label">Categoria Pai</label>
      <div class="col-sm-10">
        <p>
          <small>
            Selecione uma categoria pai para organizar suas categorias hierarquicamente. Sempre que você seleciona uma categoria pai, sua categoria se tornará filha dela, ou seja, sempre será mostrada ab aixo da categoria pai. Por exemplo, uma categoria pai pode ser Acessórios e as categorias filhas podem ser Cintos, Gravatas ou Meias.
          </small>
        </p>
        <select name="" id="" class="form-control">
          <option value="">[Raiz]</option>
          <option value="">-- Novidades</option>
          <option value="">-- -- Olhos</option>
          <option value="">-- -- -- Delineador</option>
          <option value="">-- -- -- Sombras</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="example-text-input4" class="col-sm-2 col-form-label">Nome</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" value="nome-da-categoria" id="example-text-input4">
        <a href="#" id="inline-username" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click">http://contem1gmagic.com.br/categoria/nome-da-categoria</a>
      </div>
    </div>

    <div class="form-group row">
      <label for="example-text-input5" class="col-sm-2 col-form-label">Descrição</label>
      <div class="col-sm-10">
        <p>
          <small>
            A descrição da categoria será mostrada na página da categoria, logo abaixo do menu lateral. Este conteúdo é de extrema importância para os motores de busca entenderem do que se trata sua categoria.
          </small>
        </p>
        <textarea name="" id="example-text-input5" class="form-control"></textarea>
      </div>
    </div>

    <div class="text-right">
      <button class="btn btn-primary" type="submit">Criar categoria</button>
    </div>

  </form>
</div>