---
layout: default
title: Consultar Documentos - Contém1g
csscustom:
- assets/plugins/timepicker/bootstrap-timepicker.min.css
- assets/plugins/mjolnic-bootstrap-colorpicker/css/bootstrap-colorpicker.min.css
- assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css
- assets/plugins/clockpicker/bootstrap-clockpicker.min.css
- assets/plugins/bootstrap-daterangepicker/daterangepicker.css
jscustom:
- assets/plugins/moment/moment.js
- assets/plugins/timepicker/bootstrap-timepicker.min.js
- assets/plugins/mjolnic-bootstrap-colorpicker/js/bootstrap-colorpicker.min.js
- assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js
- assets/plugins/clockpicker/bootstrap-clockpicker.js
- assets/plugins/bootstrap-daterangepicker/daterangepicker.js
- assets/pages/jquery.form-pickers.init.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Consultores</a></li>
    <li class="breadcrumb-item active">Consultar Documentos</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <!-- <div class="btn-group pull-right m-t-15">
      <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light"
              data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i
              class="fa fa-cog"></i></span></button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div> -->
    <h4 class="page-title">Documentos</h4>
  </div>
</div>


<div class="card-box">

  <form action="#">
      <div class="row">

        <div class="col">
          <div class="form-group">
            <label for="tipoDocumentoConsultarDocumentos">Tipo de Documento</label>
            <select id="tipoDocumentoConsultarDocumentos" class="form-control">
              <option>CPF/CNPJ</option>
              <option>RG</option>
              <option>Residência</option>
              <option>Agência/Conta</option>
            </select>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Data</label>
            <div>
              <div class="input-group">
                  <input type="text" class="form-control" id="datepicker-autoclose">
                  <span class="input-group-addon bg-custom b-0"><i class="icon-calender"></i></span>
              </div><!-- input-group -->
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="statusDocumentoConsultarDocumentos">Status</label>
            <select id="statusDocumentoConsultarDocumentos" class="form-control">
              <option>Em análise</option>
              <option>Ativo</option>
              <option>Inativo</option>
            </select>
          </div>
        </div>

      </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Filtrar</button>
  </form>

  <div class="content-table-box">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Tipo de Documento</th>
          <th>Usuário</th>
          <th>Data</th>
          <th>Status</th>
          <th>Observação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CPF/CNPJ</td>
          <td>Stefany do Nascimento Aguiar CARTAO</td>
          <td>03/08/2017</td>
          <td>Em análise</td>
          <td><a href="{{site.baseurl}}/usuario-documentos.html"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a></td>
        </tr>
        <tr>
          <td>CPF/CNPJ</td>
          <td>Stefany do Nascimento Aguiar CARTAO</td>
          <td>03/08/2017</td>
          <td>Em análise</td>
          <td><a href="{{site.baseurl}}/usuario-documentos.html"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a></td>
        </tr>
        <tr>
          <td>CPF/CNPJ</td>
          <td>Stefany do Nascimento Aguiar CARTAO</td>
          <td>03/08/2017</td>
          <td>Em análise</td>
          <td><a href="{{site.baseurl}}/usuario-documentos.html"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a></td>
        </tr>
        <tr>
          <td>CPF/CNPJ</td>
          <td>Stefany do Nascimento Aguiar CARTAO</td>
          <td>03/08/2017</td>
          <td>Em análise</td>
          <td><a href="{{site.baseurl}}/usuario-documentos.html"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a></td>
        </tr>
        <tr>
          <td>CPF/CNPJ</td>
          <td>Stefany do Nascimento Aguiar CARTAO</td>
          <td>03/08/2017</td>
          <td>Em análise</td>
          <td><a href="{{site.baseurl}}/usuario-documentos.html"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>