---
layout: default
title: Criar Cupom - Contem1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{site.baseurl}}/">Painel</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Marketing</a>
    </li>
    <li class="breadcrumb-item active">Criar Cupom</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Criando Cupons</h4>
  </div>
</div>

<div class="card-box">
  <form action="#">

    <div class="form-group row">
      <label for="example-text-input" class="col-3 col-form-label">Cupom Ativo?</label>
      <div class="col-9">
        <select name="" id="" class="form-control">
          <option value="">Sim</option>
          <option value="">Não</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input2" class="col-3 col-form-label">Código do Cupom</label>
      <div class="col-9">
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">
              <i class="fa fa-refresh"></i>
              Gerar Código Aleatório
            </button>
          </span>
        </div>
        <p><small>O código do cupom é o que você dará para o seu cliente preencher no carrinho de compras.</small></p>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input3" class="col-3 col-form-label">Descrição do Cupom</label>
      <div class="col-9">
        <textarea name="" id="example-text-input3" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input4" class="col-3 col-form-label">Tipo de Cupom</label>
      <div class="col-9">
        <select name="" id="" class="form-control">
          <option value="">Valor Fixo</option>
          <option value="">Porcentagem</option>
          <option value="">Frete Gratis</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input5" class="col-3 col-form-label">Valor</label>
      <div class="col-9">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control">
        </div>
        <p><small>Este é o valor que será aplicado pelo cupom.</small></p>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input6" class="col-3 col-form-label">Valor Mínimo</label>
      <div class="col-9">
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control">
        </div>
        <p><small>Caso seja definido este é o valor mínimo para que o cupom seja aplicado. Se o valor dos produtos no carrinho não atingir este valor, o cupom não é aplicado.</small></p>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input7" class="col-3 col-form-label">Quantidade de Cupons</label>
      <div class="col-9">
        <input type="text" class="form-control">
        <p><small>Define a quantidade de vezes que este cupom poderá ser usado. A cada vez que o cupom é usado este número é reduzido automaticamente.</small></p>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input8" class="col-3 col-form-label">Cupom acumulativo?</label>
      <div class="col-9">
        <select name="" id="" class="form-control">
          <option value="">Sim</option>
          <option value="">Não</option>
        </select>
        <p><small>Somar desconto com forma de pagamento ou outros descontos.</small></p>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input9" class="col-3 col-form-label">Quantidade por cliente</label>
      <div class="col-9">
        <input type="text" class="form-control">
        <p>
          <small>Número máximo de vezes que um cliente pode usar este cupom. Para não limitar deixe o campo em branco.</small>
        </p>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input10" class="col-3 col-form-label">Validade</label>
      <div class="col-9">
        <input type="text" class="form-control">
        <p>
          <small>Data até quando o cupom é válido. Para definir indeterminadamente deixe o campo em branco.</small>
        </p>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input11" class="col-3 col-form-label">Aplicar no total?</label>
      <div class="col-9">
        <select name="" id="" class="form-control">
          <option value="">Não</option>
          <option value="">Sim</option>
        </select>
        <p>
          <small>Aplicar desconto no total da compra (incluir por exemplo o frete).</small>
        </p>
      </div>
    </div>

    <div class="footer-buttons text-right">
      <a href="#" class="btn btn-light">
        Cancelar
      </a>
      <a href="#" class="btn btn-primary">
        Criar cupom
      </a>
    </div>

  </form>
</div>