---
layout: default
title: Editar Grade - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Produtos</a></li>
    <li class="breadcrumb-item active">Cadastrar variações</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Editando grade</h4>
  </div>
</div>

<div class="alert alert-success" role="alert">
  <h5 class="alert-heading mb-0">
    Grade criada com sucesso!
  </h5>
</div>

<div class="card-box">
  <form action="#">

    <div class="form-group row">
      <label for="example-text-input1" class="col-sm-2 col-form-label">Nome da grade</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" value="nome da grade">
        <div class="footer-buttons text-right">
          <a href="#" class="btn btn-light"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
          <button type="submit" class="btn btn-success">Alterar nome</button>
        </div>
      </div>
    </div>
    
  </form>
  
  <form action="#">

    <h3>Variações da Grade</h3>

    <!-- só aparece se não tiver variação cadastrada -->
    <p>Não há opção da variação <small>(Só aparece quando não tiver variação)</small></p>

    <!-- Aparece quando o usuário cria a grade -->
    <table class="table table-sm table-striped table-variation-grade">
      <tbody>
        <tr>
          <th scope="row">texte de variação</th>
          <td><span class="label label-default">0 pontos vinculados</span></td>
          <td class="text-right">
              <a href="{{site.baseurl}}/editar-variacao-grade.html" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
              <a href="#" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-times" aria-hidden="true"></i> Remover</a>
          </td>
        </tr>
        <tr>
          <th scope="row">texte de variação</th>
          <td><span class="label label-default">0 pontos vinculados</span></td>
          <td class="text-right">
            <a href="{{site.baseurl}}/editar-variacao-grade.html" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
            <a href="#" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-times" aria-hidden="true"></i> Remover</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="form-group row">
      <label for="example-text-input1" class="col-sm-2 col-form-label">Nome da variação</label>
      <div class="col-sm-10">
        <input type="text" class="form-control">
        <div class="footer-buttons text-right">
          <button type="submit" class="btn btn-success">Criar nova variação</button>
        </div>
      </div>
    </div>

  </form>
</div>