---
layout: default
title: Dados Consultores - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Consultores</a></li>
    <li class="breadcrumb-item active">Dados do consultor</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Dados dos Consultor</h4>
  </div>
</div>


<div class="card-box">

  <div class="content-table-box">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th></th>
          <th>Ativo</th>
          <th>VP</th>
          <th>VPP</th>
          <th>VPE</th>
          <th>VPM</th>
          <th>VT</th>
          <th>VQ</th>
          <th>Qualificação</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">000000</a></td>
          <td>Teste da silva</td>
          <td>
            <i class="fa fa-user"></i> 599
          </td>
          <td>
            <i class="fa fa-check-circle text-success"></i>
          </td>
          <td>0,00</td>
          <td>0,00</td>
          <td>0,00</td>
          <td>0,00</td>
          <td>0,00</td>
          <td>0,00</td>
          <td>Sponsor</td>
          <td>Cadastrado</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>