---
layout: default
title: Detalhes do pedido - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{site.baseurl}}/">Painel</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Vendas</a>
    </li>
    <li class="breadcrumb-item">Detalhes do pedido</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Detalhes do pedido</h4>
  </div>
</div>

<div class="card-box">

  <h4 class="bg-light title-line-bg">
    Seus dados
  </h4>

  <div class="dados-detalhes-pedido">
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-3 col-xs-4 col-4 dados-detalhes-pedido-weight">
        <p>Nome:</p>
        <p>E-mail:</p>
        <p>CPF:</p>
        <p>Endereço:</p>
        <p>Pagamento:</p>
      </div>
      <div class="col">
        <p>Flavio Gomes</p>
        <p>flavio@email.com</p>
        <p>000.000.000-00</p>
        <p>Rua sem nome, lote 999</p>
        <p>Cartão de Crédito, 2x de R$ 500,00</p>
      </div>
    </div>
  </div>

  <h4 class="bg-light title-line-bg">
    Resumo do pedido
  </h4>

  <div class="resumo-pedido-page">
    <div class="row">

      <div class="col-4">
        <p>
          <strong>The Magic Box</strong>
        </p>
        <div class="image-resume-page">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlr7aqG3EuICaB7-70Cu6-FLLoz4QIW5a4GlBiekw3iikza8ct">
        </div>
      </div>

      <div class="col-4">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui architecto porro amet ipsam soluta tenetur odio ea dolorem culpa placeat?</p>

        <div class="table-items-adicionais">
          <p>
            <strong>Itens adicionais</strong>
          </p>

          <table class="table table-sm">
            <tr>
              <td>800pt</td>
              <td>-</td>
              <td> Lorem ipsum dolor sit. </td>
            </tr>
            <tr>
              <td>800pt</td>
              <td>-</td>
              <td> Lorem ipsum dolor sit. </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="col-4">
        <div class="alert alert-secondary" role="alert">
          <table class="table borderless">
            <tr>
              <td>Valor do Kit</td>
              <td><strong>R$ 240,00</strong></td>
            </tr>
            <tr>
              <td>Frete</td>
              <td><strong>R$ 19,00</strong></td>
            </tr>
            <tr>
              <td>Cupom</td>
              <td><strong>--</strong></td>
            </tr>
            <tr>
              <td>Total</td>
              <td><strong>R$ 259,00</strong></td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="card-box">
  <h4 class="bg-light title-line-bg row">
    <div class="col">
      Tracking do Pedido 
    </div>
    <div class="col text-right">
      <a href="#" class="btn btn-dark"> Acessar <i class="fa fa-truck"></i></a>
    </div>
  </h4>

  <div class="row tracking-lines">
    
    <div class="col">
      <button type="button" class="btn btn-light">Aguardando</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Aprovado</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Cancelado</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-success">Em transporte</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Entregue</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Retornando</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Aguardando Retirada CD</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-light">Retirado no CD</button>
    </div>

  </div>
</div>