---
layout: default
title: Editar Usuário - Contém1g
csscustom:
- assets/plugins/fileuploads/css/dropify.min.css
jscustom:
- assets/plugins/fileuploads/js/dropify.min.js
- assets/js/jsformcustom.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Consultores</a></li>
    <li class="breadcrumb-item active">Editar Usuário</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Colaborador</h4>
  </div>
</div>

<div class="card-box">
  <form action="" class="form-edit-usuario">

    <div class="row">
      
      <div class="col-sm-4">
        <div class="image-documento-form">
          <label for="">Foto</label>
          <input type="file" class="dropify" data-height="200" />
        </div>
      </div>
      
      <div class="col-sm-12">
        <div class="row">

          <div class="col-sm-6">
            <div class="form-group">
              <label for="exampleInputText1">Nome</label>
              <input type="text" class="form-control" id="exampleInputText1">
            </div>
          </div>
          
          <div class="col-sm-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label for="exampleInputText2">CPF</label>
              <input type="text" class="form-control" id="exampleInputText2" value="000.000.000-00">
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label for="exampleInputText3">RG</label>
              <input type="text" class="form-control" id="exampleInputText3" value="000000">
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label for="exampleInputText4">Data de Nascimento</label>
              <input type="text" class="form-control" id="exampleInputText4" value="11/11/1991">
            </div>
          </div>
          
          <div class="col-sm-3">
            <div class="form-group">
              <label for="exampleInputText4">CEP</label>
              <input type="text" class="form-control" id="exampleInputText4" value="00000-000">
            </div>
          </div>

          <div class="col-sm-5">
            <div class="form-group">
              <label for="exampleInputText5">Endereço</label>
              <input type="text" class="form-control" id="exampleInputText5">
            </div>
          </div>

          <div class="col-sm-1">
            <div class="form-group">
              <label for="exampleInputText6">Numero</label>
              <input type="text" class="form-control" id="exampleInputText6">
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label for="exampleInputText7">Complemento</label>
              <input type="text" class="form-control" id="exampleInputText7">
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label for="exampleInputText8">Bairro</label>
              <input type="text" class="form-control" id="exampleInputText8">
            </div>
          </div>
          
          <div class="col-sm-3">
            <div class="form-group">
              <label for="exampleInputText9">Estado</label>
              <select class="form-control" id="exampleInputText9">
                  <option value="1">AC</option>
                  <option value="2">AL</option>
                  <option value="3">AP</option>
                  <option value="4">AM</option>
                  <option value="5">BA</option>
                  <option value="6">CE</option>
                  <option value="7">DF</option>
                  <option value="8">ES</option>
                  <option value="9">GO</option>
                  <option value="10">MA</option>
                  <option value="11">MT</option>
                  <option value="12">MS</option>
                  <option value="13">MG</option>
                  <option value="14">PA</option>
                  <option value="15">PB</option>
                  <option value="16">PR</option>
                  <option value="17">PE</option>
                  <option value="18">PI</option>
                  <option value="19">RJ</option>
                  <option value="20">RN</option>
                  <option value="21">RS</option>
                  <option value="22">RO</option>
                  <option value="23">RR</option>
                  <option value="24">SC</option>
                  <option value="25">SP</option>
                  <option value="26">SE</option>
                  <option value="27">TO</option>
              </select>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="exampleInputText10">Operadora</label>
              <select id="exampleInputText10" class="form-control">
                  <option value="1">Claro</option>
                  <option value="2">Nextel</option>
                  <option value="3">Oi</option>
                  <option value="4">Tim</option>
                  <option value="5">Vivo</option>
                  <option value="6">Porto Conecta</option>
              </select>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group">
              <label for="exampleInputText10">Celular</label>
              <input type="text" id="exampleInputText10" class="form-control">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="exampleInputText11">Planos</label>
              <select id="exampleInputText11" class="form-control">
                <option value="">Plano Livre</option>
                <option value="">Plano Basic</option>
                <option value="">Plano Standard</option>
                <option value="">Plano Premium</option>
              </select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="exampleInputText12">Status</label>
              <select id="exampleInputText12" class="form-control">
                <option value="" selected="selected">Cadastro Site</option>
                <option value="">Contato Realizado</option>
                <option value="">Cadastro Finalizado</option>
                <option value="">Cadastro Cancelado</option>
              </select>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="exampleInputText13">Disponível</label>
              <select id="exampleInputText13" class="form-control">
                <option value="" selected="selected">Sim</option>
                <option value="">Não</option>
              </select>
            </div>
          </div>

        </div>
      </div>

      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary waves-effect waves-light">Editar Usuário</button>      
      </div>

    </div>

  </form>
</div>