---
layout: default
title: Importar transferencia - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Pagamento</a></li>
    <li class="breadcrumb-item">Importar transferencia</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Importar</h4>
  </div>
</div>

<div class="card-box">
  <form action="#">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="">Upload de Arquivo de Transferência</label>
          <input type="file" name="" id="" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>

  </form>
</div>

<div class="card-box">
  <div class="alert alert-warning" role="alert">
    <p><strong>Status para preenchimento da planilha:</strong></p>
    <ul>
      <li>41 - Solicitado</li>
      <li>42 - Pago</li>
      <li>43 - Agência e/ou Conta incorreto (s)</li>
      <li>44 - Nome/CPF/CNPJ Incorreto</li>
      <li>45 - Cancelado</li>
    </ul>
  </div>
</div>