---
layout: default
title: Importar/Exportar Produtos - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Produtos</a></li>
    <li class="breadcrumb-item active">Listar produtos</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Importar produtos</h4>
  </div>
</div>

<div class="card-box">

  <div class="alert alert-danger" role="alert">
    <strong>Aviso Importante:</strong> Para realizar uma atualização de produtos, não altere o campo de SKU. Apenas arquivos com extensão XLSX são suportados. <br>
  </div>
  <div class="alert alert-light" role="alert">
    <p>
      São suportados arquivos no formato <strong>XLSX</strong> com tamanho máximo de <strong>5 MB</strong> ou <strong>10.000 linhas</strong>. <br>
    </p>
    <p>
      Caso o código do produto exista, este será atualizado. Caso não exista, será adicionado. <br>
    </p>
    <p>
      <a href="#">Clique aqui</a> e saiba como preencher sua planilha ou baixe o <a href="#">arquivo modelo</a>.
    </p>
  </div>

  <div class="content-import-export">
    <p><i class="fa fa-arrow-circle-down"></i> Importar XLSX <small>Serão importados até 9998 produtos na sua conta</small>.</p>

    <form action="" class="form-import-data-product">
      <input type="file" name="" id=""><br>
      <button class="btn btn-primary" type="submit">
        Importar produtos
      </button>
    </form>
  </div>

</div>


<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Exportar produtos</h4>
  </div>
</div>

<div class="card-box">
  <div class="row">
    <div class="col">

      <p><a href="#">Clique aqui</a> para solicitar exportação de <code>produtos</code>. Será enviado planilha para seu email.</p>
      <p><a href="#">Clique aqui</a> para solicitar exportação de <code>clientes</code>. Será enviado planilha para seu email.</p>
      <p><a href="#">Clique aqui</a> para solicitar exportação de <code>pedidos</code>. Será enviado planilha para seu email.</p>

    </div>
  </div>
</div>