---
layout: default
title: Consultar Documentos - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Consultores</a></li>
    <li class="breadcrumb-item active">Lista de Consultores</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <!-- <div class="btn-group pull-right m-t-15">
      <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light"
              data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i
              class="fa fa-cog"></i></span></button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div> -->
    <h4 class="page-title">Lista dos Consultores</h4>
  </div>
</div>


<div class="card-box">
  <div class="link-new">
    <a href="#" class="btn btn-primary">Novo Consultor</a>
  </div>

  <form action="#">
    <div class="row">

      <div class="col-md-6">
        <div class="form-group">
          <label for="">Buscar por ID ou CPF</label>
          <input type="text" class="form-control" id="">
        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Filtrar</button>
  </form>

  <div class="content-table-box">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Nome</th>
          <th>ID</th>
          <th>E-mail</th>
          <th>Disponível</th>
          <th>CPF</th>
          <th>Qualificação</th>
          <th>Pontos Totais</th>
          <th class="text-right">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>João da Silva</td>
          <td>000000</td>
          <td>joao@google.com</td>
          <td>Ativo?</td>
          <td>657.074.145-41</td>
          <td>Cadastro site</td>
          <td>0,00</td>
          <td class="text-right">
            <a href="{{site.baseurl}}/dados-consultores.html" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-eye" aria-hidden="true"></i> Ver</a>
            <a href="#" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-key" aria-hidden="true"></i> Acessar Como</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>