---
layout: default
title: Lista de operadores - Contém1g
csscustom:
- assets/plugins/datatables/dataTables.bootstrap4.min.css
- assets/plugins/datatables/buttons.bootstrap4.min.css
- assets/plugins/datatables/responsive.bootstrap4.min.css
jscustom:
- assets/plugins/datatables/jquery.dataTables.min.js
- assets/plugins/datatables/dataTables.bootstrap4.min.js
- assets/plugins/datatables/dataTables.buttons.min.js
- assets/plugins/datatables/buttons.bootstrap4.min.js
- assets/plugins/datatables/jszip.min.js
- assets/plugins/datatables/pdfmake.min.js
- assets/plugins/datatables/vfs_fonts.js
- assets/plugins/datatables/buttons.html5.min.js
- assets/plugins/datatables/buttons.print.min.js
- assets/plugins/datatables/buttons.colVis.min.js
- assets/plugins/datatables/dataTables.responsive.min.js
- assets/plugins/datatables/responsive.bootstrap4.min.js
- assets/js/jstablecustom.js
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Gestão</a></li>
    <li class="breadcrumb-item">Lista de operadores</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Operadores</h4>
  </div>
</div>

<div class="card-box">
  <div class="row">
    <div class="col">
  
      <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Setor</th>
            <th>CPF</th>
            <th>Data de Nascimento</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="img-table-person">
              <img src="https://randomuser.me/api/portraits/men/61.jpg" alt="">
              <span> Felipe santos </span>
            </td>
            <td>felipe@gmail.com</td>
            <td>Gerencia</td>
            <td>000.000.000-00</td>
            <td>01/01/1987</td>
            <td>
              <a href="{{site.baseurl}}/lista-de-chamados-chat.html" class="btn btn-light waves-effect waves-light btn-sm">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              <a href="#" class="btn btn-light waves-effect waves-light btn-sm">
                <i class="fa fa-times" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
    <!-- end col table -->
  </div>
  <!-- end row table -->
</div>