---
layout: default
title: Grades - Contém1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Produtos</a></li>
    <li class="breadcrumb-item">Grade</li>
  </ol>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">3 grades</h4>
  </div>
</div>

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Grades para o produto</h4>
  <p>Aqui você pode criar as grades que irá usar em seus produtos.</p>
  <p class="mb-0">
    <strong>Uma grade define o tipo de opção que o cliente escolherá, por exemplo: Cor, Tamanho, Tensão.</strong> Depois de criar as grades para um produto você definirá os valores, por exemplo: Amarelo, Azul e Verde para Cor; P, M e G para Tamanho; 110v e 220v para Tensão.
  </p>
</div>

<div class="card-box">
  <div class="row">

    <div class="col-sm-12">
      <div class="link-new">
        <a href="{{site.baseurl}}/criar-grade.html" class="btn btn-primary">Criar grade</a>
      </div>
    </div>

    <div class="col-sm-12">

      <table class="table table-striped table-listar-grades">
        <thead>
          <tr>
            <th>Grade - Coluna para Importação</th>
            <th>Produtos Vinculados</th>
            <th class="text-right">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="info-grade-names">
              <p>Gênero</p>
              <p><small>Masculino, feminino</small></p>
            </td>
            <td><span class="label label-default">2 produto vinculado</span></td>
            <td class="text-right">
              <a href="{{site.baseurl}}/editar-variacao-grade.html" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
              <a href="#" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-times" aria-hidden="true"></i> Remover</a>    
            </td>
          </tr>
          <tr>
            <td class="info-grade-names">
              <p>Produto com uma cor - grade-produto-com-uma-cor </p>
            </td>
            <td><span class="label label-default">1 produto vinculado</span></td>
            <td class="text-right">
              <a href="{{site.baseurl}}/editar-variacao-grade.html" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</a>
              <a href="#" class="btn btn-light waves-effect waves-light btn-sm"><i class="fa fa-times" aria-hidden="true"></i> Remover</a>    
            </td>
          </tr>
        </tbody>
      </table>

    </div>  

  </div>
</div>