---
layout: default
title: Listar Banners - Contem1g
---

<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{site.baseurl}}/">Painel</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Marketing</a>
    </li>
    <li class="breadcrumb-item active">Listar cupons</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">Lista de Cupons</h4>
  </div>
</div>

<div class="card-box">
  <form action="#">

    <div class="card card-list-banner">
      <div class="card-header card-header-banner-list">
        <div class="row">
          <div class="col-8">  
            <h4>
              <input type="checkbox" name="" id="">
              2 Cupons
            </h4>
          </div>
          <div class="col-4 text-right">
            <a href="{{site.baseurl}}/cadastrar-banner.html" class="btn btn-primary btn-sm">Criar cupom</a>
          </div>
        </div>
      </div>
      <div class="card-body card-body-banner-list">
        <table class="table table-list-banner">
          <thead>
            <th></th>
            <th>Cupom</th>
            <th>Quantidade</th>
            <th>Validade</th>
            <th>Utilizados</th>
            <th>Status</th>
          </thead>
          <tbody>
            <tr>
              <th scope="row" width="40">
                <input type="checkbox" name="" id="">
              </th>
              <td class="name-banner-list">
                <a href="#">
                  <p>23hjh233jh23</p>
                  <p><small>dsadsadsasd</small></p>
                </a>
              </td>
              <td>20 Unidades</td>
              <td>20/11/2017</td>
              <td>Nenhum</td>
              <td>
                <div class="btn btn-success btn-sm">
                  <i class="fa fa-power-off"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row" width="40">
                <input type="checkbox" name="" id="">
              </th>
              <td class="name-banner-list">
                <a href="#">
                  <p>23hjh233jh23</p>
                  <p><small>dsadsadsasd</small></p>
                </a>
              </td>
              <td>20 Unidades</td>
              <td>20/11/2017</td>
              <td>Nenhum</td>
              <td>
                <div class="btn btn-success btn-sm">
                  <i class="fa fa-power-off"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- end card -->


    <div class="footer-buttons text-right">
      <a href="#" class="btn btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i> Remover Selecionados</a>
    </div>

  </form>
</div>