---
layout: default
title: Editar Usuário - Contém1g
csscustom:
- assets/plugins/datatables/dataTables.bootstrap4.min.css
- assets/plugins/datatables/buttons.bootstrap4.min.css
- assets/plugins/datatables/responsive.bootstrap4.min.css
jscustom:
- assets/plugins/datatables/jquery.dataTables.min.js
- assets/plugins/datatables/dataTables.bootstrap4.min.js
- assets/plugins/datatables/dataTables.buttons.min.js
- assets/plugins/datatables/buttons.bootstrap4.min.js
- assets/plugins/datatables/jszip.min.js
- assets/plugins/datatables/pdfmake.min.js
- assets/plugins/datatables/vfs_fonts.js
- assets/plugins/datatables/buttons.html5.min.js
- assets/plugins/datatables/buttons.print.min.js
- assets/plugins/datatables/buttons.colVis.min.js
- assets/plugins/datatables/dataTables.responsive.min.js
- assets/plugins/datatables/responsive.bootstrap4.min.js
- assets/js/jstablecustom.js
---


<div class="breadcrumb-page">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Painel</a></li>
    <li class="breadcrumb-item"><a href="#">Produtos</a></li>
    <li class="breadcrumb-item active">Listar produtos</li>
  </ol>
</div>

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title">2 produtos no total</h4>
  </div>
</div>

<div class="card-box">

  <div class="col">
    <div class="link-new">
      <a href="#" class="btn btn-primary">Criar produto</a>
      <a href="#" class="btn btn-light"><i class="fa fa-trash"></i> Ver lixeira</a>
    </div>
  </div>

  <div class="content-table-box">
    <div class="row">
      <form action="" class="col">
        <table id="datatable-buttons" class="table table-bordered table-products" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th><input type="checkbox" name="" id=""></th>
              <th>Produto</th>
              <th></th>
              <th>Categoria</th>
              <th>Pontos</th>
              <th>Preço</th>
              <th>Status</th>
              <th>Estoque</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" name="" id=""></td>
              <td class="image-product-table text-center">
                <a href="#">
                  <img src="https://cdn.awsli.com.br/production/static/img/produto-sem-imagem.gif?v=8c075f1" alt="">
                </a>
              </td>
              <td class="info-product-table">
                <h4>Nome do produto</h4>
                <p>SKU: 91293123</p>
                <p>Tipo: normal</p>
              </td>
              <td>nome da categoria</td>
              <td>150</td>
              <td class="price-product-table text-right">
                <p><s>de R$ 90,00</s></p>
                <p><strong>por R$ 50,00</strong></p>
              </td>
              <td class="text-center">
                <span class="label label-primary">ativo</span>
              </td>
              <td class="text-center">
                <span class="label label-success">10</span>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-danger"><i class="fa fa-trash"></i> Mover para lixeira</button>
      </form>
    </div>

  </div>
</div>