---
layout: default
title: Resumo Geral - Contem1g
csscustom:
- assets/plugins/morris/morris.css
jscustom:
- assets/plugins/waypoints/lib/jquery.waypoints.min.js
- assets/plugins/counterup/jquery.counterup.min.js
- assets/plugins/morris/morris.min.js
- assets/plugins/raphael/raphael-min.js
- assets/js/jschart-relatorio-de-rede.js
---

<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group pull-right m-t-15">
      <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light"
              data-toggle="dropdown" aria-expanded="false">Selecionar Ciclo </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">Jan/2017</a>
        <a class="dropdown-item" href="#">Fev/2017</a>
        <a class="dropdown-item" href="#">Mar/2017</a>
        <a class="dropdown-item" href="#">Abr/2017</a>
      </div>
    </div>
    <h4 class="page-title">Resumo Geral (Set/2017)</h4>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-user-follow float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">NOVOS CONSULTORES</h6>
      <h2 class="m-b-20" data-plugin="counterup">1,587</h2>
      <span class="label label-success"> +11% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-user-following float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">ATIVOS</h6>
      <h2 class="m-b-20">$
        <span data-plugin="counterup">46,782</span>
      </h2>
      <span class="label label-danger"> -29% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-user-unfollow float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">INATIVOS</h6>
      <h2 class="m-b-20">$
        <span data-plugin="counterup">15.9</span>
      </h2>
      <span class="label label-warning"> 0% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-clock float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">PENDENTES</h6>
      <h2 class="m-b-20" data-plugin="counterup">1,890</h2>
      <span class="label label-success"> +89% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-notebook float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">PEDIDOS REALIZADOS</h6>
      <h2 class="m-b-20" data-plugin="counterup">1,587</h2>
      <span class="label label-success"> +11% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-basket-loaded float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">PEDIDOS PAGOS</h6>
      <h2 class="m-b-20">$
        <span data-plugin="counterup">46,782</span>
      </h2>
      <span class="label label-danger"> -29% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="ti-money float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">FATURAMENTO</h6>
      <h2 class="m-b-20">$
        <span data-plugin="counterup">15.9</span>
      </h2>
      <span class="label label-warning"> 0% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="ti-ticket float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">BÔNUS A PAGAR</h6>
      <h2 class="m-b-20" data-plugin="counterup">1,890</h2>
      <span class="label label-success"> +89% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="ti-bar-chart float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">VOLUME DE PONTOS</h6>
      <h2 class="m-b-20" data-plugin="counterup">876</h2>
      <span class="label label-success"> +89% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="ti-more float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">PONTOS PROMOCIONAIS</h6>
      <h2 class="m-b-20" data-plugin="counterup">876</h2>
      <span class="label label-success"> +89% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-people float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">PONTOS DE EQUIPE</h6>
      <h2 class="m-b-20" data-plugin="counterup">876</h2>
      <span class="label label-success"> +89% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-chart float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">PONTOS MULTINÍVEL</h6>
      <h2 class="m-b-20" data-plugin="counterup">876</h2>
      <span class="label label-success"> +89% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="ti-layout-column2 float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">VOLUME TOTAL</h6>
      <h2 class="m-b-20" data-plugin="counterup">876</h2>
      <span class="label label-success"> +89% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
    <div class="card-box tilebox-one">
      <i class="icon-emotsmile float-right text-muted"></i>
      <h6 class="text-muted text-uppercase m-b-20">NOVOS QUALIFICADOS</h6>
      <h2 class="m-b-20" data-plugin="counterup">876</h2>
      <span class="label label-success"> +89% </span>
      <span class="text-muted">Comparado ao ciclo anterior</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8">

    <div class="card-box">
      <h4 class="header-title m-t-0 m-b-20">Grafico de Bônus</h4>

      <div class="text-center">
        <ul class="list-inline chart-detail-list m-b-0">
          <li class="list-inline-item">
            <h6 style="color: #3db9dc;">
              <i class="zmdi zmdi-circle-o m-r-5"></i>Bônus de Equipe</h6>
          </li>
          <li class="list-inline-item">
            <h6 style="color: #1bb99a;">
              <i class="zmdi zmdi-triangle-up m-r-5"></i>Bônus Indicação</h6>
          </li>
          <li class="list-inline-item">
            <h6 style="color: #818a91;">
              <i class="zmdi zmdi-square-o m-r-5"></i>Bônus Bônus Multinível</h6>
          </li>
        </ul>
      </div>

      <div id="morris-bar-stacked" style="height: 320px;"></div>
    </div>
  </div>

  <div class="col-4">
    <div class="card-box">

      <h4 class="header-title m-t-0 m-b-30">Gráfico Binário</h4>

      <div class="text-center m-b-20">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-sm btn-secondary">Today</button>
          <button type="button" class="btn btn-sm btn-secondary">This Week</button>
          <button type="button" class="btn btn-sm btn-secondary">Last Week</button>
        </div>
      </div>

      <div id="morris-donut-example" style="height: 269px;"></div>

      <div class="text-center">
        <ul class="list-inline chart-detail-list mb-0 m-t-10">
          <li class="list-inline-item">
            <h6 style="color: #3db9dc;">
              <i class="zmdi zmdi-circle-o m-r-5"></i>Esquerda</h6>
          </li>
          <li class="list-inline-item">
            <h6 style="color: #1bb99a;">
              <i class="zmdi zmdi-triangle-up m-r-5"></i>Direita</h6>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-lg-12 col-xl-7">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-20">Novos Consultores</h4>

          <div class="inbox-widget nicescroll" style="height: 330px;">
            <a href="#">
              <div class="inbox-item">
                <div class="inbox-item-img">
                  <img src="assets/images/users/avatar-1.jpg" class="rounded-circle" alt="">
                </div>
                <p class="inbox-item-author">Chadengle</p>
                <p class="inbox-item-text">Hey! there I'm available...</p>
                <p class="inbox-item-date">13:40 PM</p>
              </div>
            </a>
            <a href="#">
              <div class="inbox-item">
                <div class="inbox-item-img">
                  <img src="assets/images/users/avatar-2.jpg" class="rounded-circle" alt="">
                </div>
                <p class="inbox-item-author">Tomaslau</p>
                <p class="inbox-item-text">I've finished it! See you so...</p>
                <p class="inbox-item-date">13:34 PM</p>
              </div>
            </a>
            <a href="#">
              <div class="inbox-item">
                <div class="inbox-item-img">
                  <img src="assets/images/users/avatar-3.jpg" class="rounded-circle" alt="">
                </div>
                <p class="inbox-item-author">Stillnotdavid</p>
                <p class="inbox-item-text">This theme is awesome!</p>
                <p class="inbox-item-date">13:17 PM</p>
              </div>
            </a>
            <a href="#">
              <div class="inbox-item">
                <div class="inbox-item-img">
                  <img src="assets/images/users/avatar-4.jpg" class="rounded-circle" alt="">
                </div>
                <p class="inbox-item-author">Kurafire</p>
                <p class="inbox-item-text">Nice to meet you</p>
                <p class="inbox-item-date">12:20 PM</p>
              </div>
            </a>
            <a href="#">
              <div class="inbox-item">
                <div class="inbox-item-img">
                  <img src="assets/images/users/avatar-5.jpg" class="rounded-circle" alt="">
                </div>
                <p class="inbox-item-author">Shahedk</p>
                <p class="inbox-item-text">Hey! there I'm available...</p>
                <p class="inbox-item-date">10:15 AM</p>
              </div>
            </a>
            <a href="#">
              <div class="inbox-item">
                <div class="inbox-item-img">
                  <img src="assets/images/users/avatar-6.jpg" class="rounded-circle" alt="">
                </div>
                <p class="inbox-item-author">Adhamdannaway</p>
                <p class="inbox-item-text">This theme is awesome!</p>
                <p class="inbox-item-date">9:56 AM</p>
              </div>
            </a>
            <a href="#">
              <div class="inbox-item">
                <div class="inbox-item-img">
                  <img src="assets/images/users/avatar-8.jpg" class="rounded-circle" alt="">
                </div>
                <p class="inbox-item-author">Arashasghari</p>
                <p class="inbox-item-text">Hey! there I'm available...</p>
                <p class="inbox-item-date">10:15 AM</p>
              </div>
            </a>
            <a href="#">
              <div class="inbox-item">
                <div class="inbox-item-img">
                  <img src="assets/images/users/avatar-9.jpg" class="rounded-circle" alt="">
                </div>
                <p class="inbox-item-author">Joshaustin</p>
                <p class="inbox-item-text">I've finished it! See you so...</p>
                <p class="inbox-item-date">9:56 AM</p>
              </div>
            </a>
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-20">Kit Mais vendido</h4>
          <p class="font-600 m-b-5">Kitbox 1 Small
            <span class="text-danger pull-right">
              <b>78%</b>
            </span>
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-xs bg-danger" role="progressbar" style="width: 78%" aria-valuenow="78"
              aria-valuemin="0" aria-valuemax="78"></div>
          </div>
        </div>

        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-20">Categoria Mais vendida</h4>
          <p class="font-600 m-b-5">Maquiagens
            <span class="text-success pull-right">
              <b>25%</b>
            </span>
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-xs" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="card-box">
          <h4 class="header-title m-t-0 m-b-20">Produto mais vendido</h4>

          <p class="font-600 m-b-5">Mobiles
            <span class="text-warning pull-right">
              <b>75%</b>
            </span>
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-xs" role="progressbar" style="width: 75%" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <!-- end col-->

  <div class="col-xs-12 col-lg-12 col-xl-5">
    <div class="card-box">

      <h4 class="header-title m-t-0 m-b-30">Vendas Por Kit</h4>

      <div class="table-responsive">
        <table class="table table-bordered mb-0">
          <thead>
            <tr>
              <th>Nome do Kit</th>
              <th>Pagos</th>
              <th>Pendentes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-muted">Apple Technology</th>
              <td>R$ 22.000,00</td>
              <td>R$ 120.000,00</td>
            </tr>
            <tr>
              <th class="text-muted">Apple Technology</th>
              <td>R$ 22.000,00</td>
              <td>R$ 120.000,00</td>
            </tr>
            <tr>
              <th class="text-muted">Apple Technology</th>
              <td>R$ 22.000,00</td>
              <td>R$ 120.000,00</td>
            </tr>
            <tr>
              <th class="text-muted">Apple Technology</th>
              <td>R$ 22.000,00</td>
              <td>R$ 120.000,00</td>
            </tr>
            <tr>
              <th class="text-muted">Apple Technology</th>
              <td>R$ 22.000,00</td>
              <td>R$ 120.000,00</td>
            </tr>
            <tr>
              <th class="text-muted">Apple Technology</th>
              <td>R$ 22.000,00</td>
              <td>R$ 120.000,00</td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
  <!-- end col-->

</div>