<!-- Navigation Bar-->
<header id="topnav">
  <div class="topbar-main">
    <div class="container">

      <!-- LOGO -->
      <div class="topbar-left">
        <a href="{{site.baseurl}}/" class="logo">
          <img src="{{site.baseurl}}/assets/images/logo-magic.svg" alt="">
        </a>
      </div>
      <!-- End Logo container-->

      <div class="menu-extras navbar-topbar">

        <ul class="list-inline float-right mb-0">

          <li class="list-inline-item">
            <!-- Mobile menu toggle-->
            <a class="navbar-toggle">
              <div class="lines">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <!-- End mobile menu toggle-->
          </li>

          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
              aria-expanded="false">
              <i class="zmdi zmdi-notifications-none noti-icon"></i>
              <span class="noti-icon-badge"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg" aria-labelledby="Preview">
              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5>
                  <small>
                    <span class="label label-danger float-right">7</span>Notification</small>
                </h5>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-success">
                  <i class="icon-bubble"></i>
                </div>
                <p class="notify-details">Robert S. Taylor commented on Admin
                  <small class="text-muted">1min ago</small>
                </p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-info">
                  <i class="icon-user"></i>
                </div>
                <p class="notify-details">New user registered.
                  <small class="text-muted">1min ago</small>
                </p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-danger">
                  <i class="icon-like"></i>
                </div>
                <p class="notify-details">Carlos Crouch liked
                  <b>Admin</b>
                  <small class="text-muted">1min ago</small>
                </p>
              </a>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                View All
              </a>

            </div>
          </li>

          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
              aria-expanded="false">
              <i class="zmdi zmdi-email noti-icon"></i>
              <!-- <span class="noti-icon-badge"></span> -->
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg" aria-labelledby="Preview">
              <!-- item-->
              <div class="dropdown-item noti-title bg-success">
                <h5>
                  <small>
                    <span class="label label-danger float-right">7</span>Messages</small>
                </h5>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-faded">
                  <img src="assets/images/users/avatar-2.jpg" alt="img" class="rounded-circle img-fluid">
                </div>
                <p class="notify-details">
                  <b>Robert Taylor</b>
                  <span>New tasks needs to be done</span>
                  <small class="text-muted">1min ago</small>
                </p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-faded">
                  <img src="assets/images/users/avatar-3.jpg" alt="img" class="rounded-circle img-fluid">
                </div>
                <p class="notify-details">
                  <b>Carlos Crouch</b>
                  <span>New tasks needs to be done</span>
                  <small class="text-muted">1min ago</small>
                </p>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-faded">
                  <img src="assets/images/users/avatar-4.jpg" alt="img" class="rounded-circle img-fluid">
                </div>
                <p class="notify-details">
                  <b>Robert Taylor</b>
                  <span>New tasks needs to be done</span>
                  <small class="text-muted">1min ago</small>
                </p>
              </a>

              <!-- All-->
              <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                View All
              </a>

            </div>
          </li>

          <!-- <li class="list-inline-item dropdown notification-list">
                <a class="nav-link waves-effect waves-light right-bar-toggle" href="javascript:void(0);">
                    <i class="zmdi zmdi-format-subject noti-icon"></i>
                </a>
            </li> -->

          <li class="list-inline-item dropdown notification-list">
            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
              aria-expanded="false">
              <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
            </a>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
              <!-- item-->
              <div class="dropdown-item noti-title">
                <h5 class="text-overflow">
                  <small>Welcome ! John</small>
                </h5>
              </div>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="zmdi zmdi-account-circle"></i>
                <span>Profile</span>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="zmdi zmdi-settings"></i>
                <span>Settings</span>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="zmdi zmdi-lock-open"></i>
                <span>Lock Screen</span>
              </a>

              <!-- item-->
              <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="zmdi zmdi-power"></i>
                <span>Logout</span>
              </a>

            </div>
          </li>

        </ul>

      </div>
      <!-- end menu-extras -->
      <div class="clearfix"></div>

    </div>
    <!-- end container -->
  </div>
  <!-- end topbar-main -->


  <div class="navbar-custom">
    <div class="container">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">

          <li>
            <a href="{{site.baseurl}}/">
              <i class="zmdi zmdi-view-dashboard"></i>
              <span> Painel </span>
            </a>
          </li>

          <li class="has-submenu">
            <a href="#">
              <i class="zmdi zmdi-pin-account"></i>
              <span> Geral </span>
            </a>
            <ul class="submenu">
              <li>
                <ul>
                  <li>
                    <a href="{{site.baseurl}}/consultar-documentos.html">Consultar Documentos *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/usuario-documentos.html">Confimar Documentos *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/lista-consultores.html">Lista Geral de Consultores *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/dados-consultores.html">Dados consultores (ver) *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/editar-usuario.html">Editar Dados Consultores *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/ativacoes-pendentes.html">Ativações Pendentes*</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/novos-consultores.html">Novos Consultores *</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#">
              <i class="zmdi zmdi-device-hub"></i>
              <span> Rede </span>
            </a>
            <ul class="submenu">
              <li>
                <ul>
                  <li>
                    <a href="{{site.baseurl}}/resumo-geral.html">Resumo Geral *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/rede-multinivel.html">Rede Multinível *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/arvore-binaria.html">Arvore Binária *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/ranking-rede.html">Ranking de rede *</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#">
              <i class="zmdi zmdi-shopping-cart"></i>
              <span> Vendas </span>
            </a>
            <ul class="submenu">
              <li>
                <ul>
                  <li>
                    <a href="{{site.baseurl}}/bs-lista-de-pedidos.html">Beauty Store - Meus Pedidos *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/detalhes-do-pedido.html">Bealty Store - Detalhe de Pedido *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/lp-lista-de-pedidos.html">Loja de Pedidos - Meus Pedidos *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/detalhes-do-pedido.html">Loja de Pedidos - Detalhes de Pedidos *</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#">
              <i class="zmdi zmdi-layers"></i>
              <span> Produtos </span>
            </a>
            <ul class="submenu megamenu">
              <li>
                <ul>
                  <li>
                    <a href="{{site.baseurl}}/listar-produtos.html">Listar Produtos *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/cadastrar-produto.html">Cadastrar produto *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/listar-kits.html">Listrar Kits *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/cadastrar-kit.html">Cadastrar Kits *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/cadastrar-categoria-produto.html">Cadastrar Categoria *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/listar-categorias-produtos.html">Listar Categoria *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/criar-grade.html">Cadastrar Variações *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/listar-grades.html">Listar Variações *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/importar-exportar-produto.html">Importar /  Exportar *</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#">
              <i class="zmdi zmdi-money"></i>
              <span> Financeiro </span>
            </a>
            <ul class="submenu">
              <li>
                <a href="{{site.baseurl}}/pagamentos.html">Pagamentos *</a>
              </li>
            </ul>
          </li>

          <li class="has-submenu">
            <a href="#">
              <i class="zmdi zmdi-widgets"></i>
              <span> Gestão do sistema</span>
            </a>
            <ul class="submenu megamenu">
              <li>
                <ul>
                  <li>
                    <a href="javascript:void(0)">
                      <strong>Geral</strong>
                    </a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/lista-de-operadores.html">Lista de Operadores *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/cadastrar-operador.html">Cadastrar Operador *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/lista-de-ocorrencias.html">Lista de ocorrencias *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/aniversariantes.html">Aniversariantes do mês *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/agenda-de-eventos.html">Agenda de eventos *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/categorias-de-arquivo.html">Categoria de Arquivos *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/upload-de-arquivo.html">Upload de arquivos *</a>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <a href="javascript:void(0)">
                      <strong>Marketing</strong>
                    </a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/cadastrar-banner.html">Cadastrar Banners *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/listar-banners.html">Listar Banners *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/criar-cupom.html">Gerar cupons de Desconto *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/listar-cupons.html">Listar Cupons *</a>
                  </li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>
                    <a href="javascript:void(0)">
                      <strong>Atendimento</strong>
                    </a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/lista-de-chamados.html">Lista de Chamados *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/lista-de-chamados-chat.html">Lista de Chamados Chat *</a>
                  </li>
                  <li>
                    <a href="{{site.baseurl}}/central-de-alertas.html">Central de Alertas *</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

        </ul>
        <!-- End navigation menu  -->
      </div>
    </div>
  </div>
</header>