
/* 
 * HEADER
*/

.content-table-box {
  padding: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}

#topnav .topbar-main {
  background-color: #111;
}

#topnav .navigation-menu>li.active li.active li.active>a {
  color: #666;
  font-weight: bold;
}

// .filter-page {
// }

.link-new {
  padding: 10px 0 20px 0;
}

/* 
 * HEADER
*/

.title-li-header {
  font-weight: 600;
  text-transform: uppercase
}

.breadcrumb-page {
  padding: 15px 0 0 0;
}


// card box home

.card-box-home {
  margin-bottom: 0 !important;
  display: block;
  color: #111;
  .card-box {
    padding: 10px 20px;
  }
  .text-right {
    h2 {
      font-size: 1.5rem;
      small {
        font-size: 1rem;
        margin-left: 5px;
      }
    }
  }
}


/* 
 * RELATORIOS_HOME
*/

.section1-report-network-sidebar {
  flex: 0 0 auto;
  width: 100%;
  max-width: 330px;
}


.section1-report-network-graph {
  p {
    margin: 0;
    padding-top: 10px;
  }
}

.section1-report-network-info {
  margin-right: 10px;
  margin-left: 20px;
}



/* 
 * TABLES
*/

table {
  tr {
    td {
      vertical-align: middle !important;
    }
  }
}

.img-table-payment {
  text-align: center;
  img {
    max-width: 80px;
  }
}

.actions-table {
  text-align: center;
  display: flex;
  justify-content: space-around;

  a {
    display: inline-block;
    color: #333;
    // margin: 0 3px;
  }
}

#datatable-buttons_wrapper {
  padding: 0 !important;
}

.img-table {
  img {
    width: auto;
    height: 35px;
  }
}

.img-table-person {
  img {
    width: auto;
    height: 35px;
    border-radius: 50%;
  }

  span {
    font-weight: bold
  }
}


/* 
 * DOCUMENTO USER
*/

.image-documento-form {
  padding: 20px 0;

  a {
    img {
      width: 100%;
      max-width: 200px;
    }
  }
}





/*-------------------------------*\ 
  #GERAL
\*-------------------------------*/

// Novos Consultores list

.table-new-consultant-list {
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}

.name-image-new-consultant-list {
  img {
    width: 40px;
    border-radius: 50%;
  }

  span {
    padding-left: 20px;
  }
}


// REDE MULTINIVEL
.table-responsive {
  overflow: auto;
}

.table-rede-multinivel {
  overflow-x: scroll;
  tbody {
    tr {
      td:nth-child(5) {
        .fa {
          font-size: 1rem;
        }
      }
    }
  }
}





/*-------------------------------*\ 
  #VENDAS
\*-------------------------------*/

// bs - Lista de pedidos

.table-tr-extra-field {
  tbody {
    tr {
      position: relative;
    }
  }
}

.title-line-bg {
  padding: 10px 30px;
}

.dados-detalhes-pedido,
.resumo-pedido-page {
  padding: 30px;
}

.dados-detalhes-pedido-weight {
  font-weight: bold;
}



.image-resume-page {
  text-align: center
}

.borderless td,
.borderless th {
  border: none;
}

.tracking-lines {
  margin-top: 30px;
}


/*-------------------------------*\ 
  #PRODUTOS
\*-------------------------------*/

.table-products tbody tr td {
  vertical-align: middle;
}

.product-table {
  display: flex;
  align-items: center
}

.image-product-table {
  img {
    max-width: 70px;
  }
}

.info-product-table {
  h4,
  p {
    margin: 0;
  }

  h4 {
    font-size: 1rem;
    padding-bottom: 4px;
  }

  p {
    font-size: .8rem;
  }
}

.price-product-table {
  // text-align: right;
  p {
    margin: 0;
  }
}


// IMPORTAR E EXPORTAR

.alert-light {
  p:last-child {
    margin-bottom: 0;
  }
}

.form-import-data-product {
  input {
    // margin-bottom: 10px;
    display: block
  }
}


// CRIAR CATEGORIA

.form-create-category {
  .form-group {
    border-bottom: 1px solid #eee;
    padding: 10px 0 25px 0;
  }
}


// LISTA GRADE

.table-listar-grades {
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}

.info-grade-names {
  p {
    margin: 0;

    &:first-child {
      font-size: 1.1rem;
    }
  }
}

// CRIAR GRADE

.footer-buttons {
  padding-top: 20px;
  a,
  button {
    margin-left: 5px;
  }
}

.table-variation-grade {
  tbody {
    tr {
      td,
      th {
        vertical-align: middle;
      }
    }
  }
}


// CADASTRAR_PRODUTO

.image-cadastrar-produto-grande,
.image-cadastrar-produto-pequeno {
  margin-bottom: 20px;
}

.image-cadastrar-produto-grande {
  position: relative;
  width: 100%;
  height: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 4px;
    max-width: 100%;
    max-height: 95%;
    width: auto;
    height: auto;
  }
}

.image-cadastrar-produto-pequeno {
  position: relative;
  width: 100%;
  height: 100px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 4px;
    max-width: 100%;
    max-height: 95%;
    width: auto;
    height: auto;
  }
}

.alert-add-images-cadastrar-produto {
  input {
    margin: 10px 0;
  }
}

.new-product-or-used-cadastrar-produto {
  // outline: 1px solid red;
  position: relative;
  top: 8px;
}

.price-product-cadastrar-produto  {
  margin: 10px 0;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}


.dimentions-product {
  i {
    font-size: 1.3rem;
    margin-left: 5px;
  }
}


/*-------------------------------*\ 
  #MARKETING
\*-------------------------------*/

.row-info-create-banner {
  .form-group {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}

.row-banner {
  border: 1px solid #ddd;
}

.banner-content {
  &:hover {
    color: white;
  }
}

.banner-area {
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  flex-direction: column;
  margin-bottom: 15px;

  p {
    margin: 0;
  }

  span {
    font-size: .8rem;
    font-weight: normal;
  }
}

.full-banner {
  .banner-area { min-height: 100px; }
  &:hover {
    .banner-area { background: #007BFF; }
  }
}
.full-banner-active {
  .banner-area {
    background: #007BFF;
    color: white;
  }
}

.mini-banner {
  .banner-area { min-height: 70px; }
  &:hover {
    .banner-area {
      background: #17A2B8;
    }
  }
}
.mini-banner-active {
  .banner-area {
    background: #17A2B8;
    color: white;
  }
}

.tarja-banner {
  .banner-area { min-height: 50px; }
  &:hover {
    .banner-area {
      background: #FFC107;
    }
  }
}
.tarja-banner-active {
  .banner-area {
    background: #FFC107;
    color: white;
  }
}

.sidebar-banner {
  .banner-area { min-height: 185px; }
  &:hover {
    .banner-area {
      background: #28A745;
    }
  }
}
.sidebar-banner-active {
  .banner-area {
    background: #28A745;
    color: white;
  }
}

.vitrine-banner {
  .banner-area { min-height: 100px; }
  &:hover {
    .banner-area {
      background: #DC3545;
    }
  }
}
.vitrine-banner-active {
  .banner-area {
    background: #DC3545;
    color: white;
  }
}


// banner-upload

.upload-file-banner {
  input {
    margin: 10px 0;
  }
}

/*
 * LISTAR_BANNER
*/ 

.card-list-banner {
  margin-bottom: 30px;
}

.table-list-banner {
  margin-bottom: 0;
  tbody {
    tr {
      td, th {
        vertical-align: middle;
      }
    }
  }
}

.card-header-banner-list {
  padding-left: .75rem;
  padding-right: .75rem;
}

.card-body-banner-list  {
  padding: 0;
}

.name-banner-list {
  p {
    margin: 0;
  }

  a {
    color: #333;
  }
}

.see-table-banner {
  background: #eee;
}



/* 
  atendimento
*/

$grey: #e5e5ea;
$blue: #1289fe;

.form-send-chat {
  button {
    margin-top: 10px;
  }
}

.chat {
  margin: 0 auto;
  max-height: 350px;
  overflow: auto
}

.item-chat {
  margin: 0 0 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: $grey;
  max-width: 75%;
  clear: both;
  position: relative;
  &.them {
    float: left;
  }
  &.me {
    float: right;
    background-color: $blue;
    color: white;
  }
}

.content-cat-archive {
  text-align: center;
  margin-bottom: 40px;
}

.info-cat-archive {
  max-width: 200px;
  margin: 0 auto;
  h5 {
    font-size: .9rem;
  }

  p {
    opacity: .8;
    font-size: .8rem;
  }
}

.nav-cat-archive {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
}

.pagination-cat-archive {
  margin-left: auto;
  margin-right: auto;
}
