<!DOCTYPE html>
<html lang="pt-BR">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">
      <div class="container">

        {{ content }}
        
      </div>
      
      <!-- Footer -->
      <footer class="footer">
        2017 © Contém1g Magic
      </footer>
      <!-- End Footer -->
      
    </div>
    
    {% include footer.html %}
  </body>

</html>
